.cart-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  inset: 0;
  left: 25%;
  background-color: rgb(197, 59, 59);
  gap: 8px;
  padding: 40px;
  color: black;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 0.875rem; */
  margin: 0 auto;
  display: flex;
  margin-top: 92px;
  /* flex-direction: column; */
  justify-content: space-between;
  background-color: #fff;
  padding-left: 76px;
  padding-right: 76px;
  width: 70vw;
}

.empty-container {
  margin: 0 auto;
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding-left: 76px;
  padding-right: 76px;
  width: 70vw;
}

@media screen and (max-width: 950px) {
  .cart-container {
    width: 90vw;
    flex-direction: column;
  }
}

.cart-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart_empty {
  height: 50vh;
}

.side_checkout {
  display: flex;
  margin-top: 92px;
  flex-direction: column;
  /* justify-content: center; */
  background-color: #fff;
  /* padding-left: 50px;
  padding-right: 50px; */
}
/* .close-button-container {
  position: absolute;
  top: 10px;
  right: 16px;
}

.close-button {
  padding: 10px 20px;
  background-color: #4b5563;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.cart-items-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid black;
}

.item-info-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.item-image {
  border-radius: 4px;
  height: 200px;
  object-fit: cover;
}

.item-description {
  margin-top: 5px;
  color: #4b5563;
  font-size: 16px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-title {
  font-size: 15px;
  font-weight: bold;
}

.item_details_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item-price {
  color: #4b5563;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.quantity-button {
  padding: 10px 20px;
  background-color: #66bb6a;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quantity-button:hover {
  background-color: #5da461;
}

.cart-total-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-total {
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;
}

.clear-cart-button {
  padding: 10px 20px;
  background-color: #66bb6a;
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-cart-button:hover {
  background-color: #5da461;
}

.empty-cart-message {
  font-size: 1rem;
  font-weight: bold;
}

.cart-item_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.add-to-cart-button_right {
  padding: 10px 20px;
  background-color: #66bb6a;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.add-to-cart-button_right:hover {
  background-color: #5da461;
}
