.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 92px;
  margin-bottom: 10px;
}

.add_remove_text {
  padding: 5px 10px;
  background-color: #66bb6a;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add_remove_text:hover {
  background-color: #5da461;
}

.cart-button {
  padding: 2px;
  display: flex;
  color: white;
  /* font-size: 0.875rem; */
  /* font-weight: bold; */
  /* text-transform: uppercase; */
  /* border: none; */
  /* border-radius: 4px; */
  cursor: pointer;
}

.product-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
  padding: 0 10px; /* Add padding for smaller screens */
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjust for smaller screens */
    padding: 0 5px; /* Reduce padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); /* Adjust for even smaller screens */
  }
}

.product-card {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-image {
  border-radius: 4px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.product-info {
  margin-top: 10px;
}

.product-title {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.product-description {
  margin-top: 5px;
  color: #4b5563;
  font-size: 16px;
}

.product-price {
  margin-top: 5px;
  color: #4b5563;
}

.product-actions {
  align-items: flex-end;
}

.add-to-cart-button {
  padding: 10px 20px;
  background-color: #66bb6a;
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #5da461;
}
